@model UrlShortenerMVC.ViewModels.CampaignViewModel
<h2>Campaign Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDateString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDateString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urls)
        </dt>

        <dd>
            @foreach (var u in Model.GetUrls())
            {
                <a href="@u.LongUrl" target="_blank">@u.LongUrl</a>
                @(" - ") 
                <a href="@u.ShortUrl" target="_blank">@u.ShortUrl</a><br />
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(HttpUtility.HtmlDecode("&#9998;"), "Edit", new { id = Model.Id }, new { @class = "mr-2 btn btn-warning", data_toggle = "tooltip", title = "Edit" })
</p>

<div class="mt-2">
    @Html.ActionLink("Back to Campaigns", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/tooltip-init")
}