@model IEnumerable<UrlShortenerMVC.ViewModels.CampaignViewModel>

<h2>Campaigns</h2>

<b>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "text-orange" })
</b>
<table class="table table-sm table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @item.StartDate.ToShortDateString()
        </td>
        <td>
            @item.EndDate.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink(HttpUtility.HtmlDecode("&#10010;"), "AddLinks", new { campaignId = item.Id }, new { @class = "mr-2 btn btn-success", data_toggle = "tooltip", title = "Add Links" })
            @Html.ActionLink(HttpUtility.HtmlDecode("&#9998;"), "Edit", new { id = item.Id }, new { @class = "mr-2 btn btn-warning", data_toggle = "tooltip", title = "Edit" })
            @Html.ActionLink(HttpUtility.HtmlDecode("&#128065;"), "Details", new { id = item.Id }, new { @class = "mr-2 btn btn btn-info", data_toggle = "tooltip", title = "Details" })
            @Html.ActionLink(HttpUtility.HtmlDecode("&#128465;"), "Delete", new { id = item.Id }, new { @class = "btn btn btn-danger", data_toggle = "tooltip", title = "Delete" })
        </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/bundles/tooltip-init")
    @Scripts.Render("~/bundles/toast-init")
}
