@model UrlShortenerMVC.ViewModels.UrlViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Urls", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="input-group">
        @Html.EditorFor(model => model.LongUrl, new { htmlAttributes = new { @class = "form-control col", placeholder = "Shorten a link" } })
        <div class="input-group-append">
            <button type="submit" class="btn btn-orange rounded-right">SHORTEN</button>
        </div>
    </div>
    @Html.ValidationMessageFor(model => model.LongUrl, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            <a href="@Html.DisplayFor(model => model.ShortUrl)">@Html.DisplayFor(model => model.ShortUrl, new { htmlAttributes = new { @class = "form-control" } })</a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
