@model IEnumerable<UrlShortenerMVC.ViewModels.UrlViewModel>

<h2>Links</h2>

<b>
    @Html.ActionLink("Shorten a link", "Create", null, htmlAttributes: new { @class = "text-orange" })
</b>
<table class="table table-sm table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LongUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clicks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxClicks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expires)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiresAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasExpired)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LongUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortUrl)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Clicks)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.MaxClicks)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Expires)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiresAt)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.HasExpired)
        </td>
    </tr>
    }
</table>
