@model IEnumerable<UrlShortenerMVC.ViewModels.UrlViewModel>

<h2>Your links</h2>

<b>
    @Html.ActionLink("Shorten a link", "Create", null, htmlAttributes: new { @class = "text-orange" })
</b>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LongUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clicks)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LongUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clicks)
        </td>
    </tr>
}
</table>
