@model UrlShortenerMVC.ViewModels.ShortExcelViewModel

@Html.Hidden(ViewBag.Toast as string)
@using (Html.BeginForm("ShortExcel", "Urls", FormMethod.Post, new { @class = "form-horizontal container mt-3", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CampaignId)

    <div class="input-group">
        <div class="custom-file">
            @Html.EditorFor(model => model.File, new { htmlAttributes = new { @class = "custom-file-input", type = "file", aria_describedby = "inputFile", onchange = "changeFilePlaceholder()" } })
            <label id="BrowseFileButton" class="custom-file-label" for="File">Choose file</label>
        </div>
        <div class="input-group-append">
            <button class="btn btn-orange rounded-right" type="submit" id="inputFile">SHORTEN</button>
        </div>
    </div>
    @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
    <div class="text-danger">@ViewBag.Error</div>
}

<div class="toast" style="position: absolute; top: 40px; right: 40px; z-index:1000">
    <div class="toast-header bg-pale-red text-pale-red">
        <strong class="mr-auto">Oops!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-pale-red text-pale-red">
        Something went wrong. We are sorry for the inconvenience...
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/short-excel")
    @Scripts.Render("~/bundles/toast-init")
}