@model IEnumerable<UrlShortenerMVC.ViewModels.CampaignViewModel>

@{
    Layout = null;
}

<table class="table table-sm table-striped table-bordered">
    <tr>
        <th class="text-center">
            Campaign
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th class="text-center">
            # Links
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.ActionLink(item.Name, "Details", "Campaigns", new { id = item.Id }, new { data_toggle = "tooltip", title = "Details" })
            </td>
            <td class="text-center">
                @item.StartDate.ToShortDateString()
            </td>
            <td class="text-center">
                @item.EndDate.ToShortDateString()
            </td>
            <td class="text-center">
                @item.GetUrlsCount()
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/tooltip-init")
}