@model IEnumerable<UrlShortenerMVC.ViewModels.UrlViewModel>

@{
    Layout = null;
}

<table class="table table-sm table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LongUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Campaign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clicks)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LongUrl)
            </td>
            <td class="d-flex justify-content-between border-0">
                @Html.DisplayFor(modelItem => item.ShortUrl)
                <img class="clipboard p-1" src="~/Content/Images/copy-icon.png" alt="copy" width="30" height="30" data-clipboard-text="@item.ShortUrl"
                     data-toggle="tooltip" data-placement="top" title="Copy" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campaign.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Clicks)
            </td>
        </tr>
    }
</table>
