@model IEnumerable<UrlShortenerMVC.ViewModels.UrlViewModel>

@{
    Layout = null;
}

<table class="table table-sm table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LongUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Campaign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clicks)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LongUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campaign.Name)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Clicks)
            </td>
        </tr>
    }
</table>
