@model IEnumerable<UrlShortenerMVC.ViewModels.UrlViewModel>

@{
    Layout = null;
}

<table class="table table-sm table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LongUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clicks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxClicks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expires)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiresAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasExpired)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LongUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clicks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxClicks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expires)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiresAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasExpired)
            </td>
        </tr>
    }
</table>
